#EXPRESS JS
#================================================================================================ ARIF LAPENGO ========================================================
# Express.js
# Node.js
# PostgreSQL
# Created Date: 2021-10-20
# Updated Date: 2021-10-20
# Description: This is a simple express.js project structure for a beginner to start with. It includes the basic folder structure,
#===================================================================================================================================================================================

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local